.App {
  font-size:30px;
  font-family: "Gill Sans", sans-serif;

}

.carousel {
  width:900px;
  height:500px;
  margin: auto;
}

.ref{
  font-size:10px;
}

.ab{
  font-size:20px;
}

.abi{
  width:300px;
}

.continent{
  color:rgb(59, 59, 59);
}